/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* MySlider css */

.my-slider {
  padding: 40px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(226, 70, 218) 17.8%, rgb(47, 212, 218) 100.2% );
  color: white;
}

.slick-slide img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}
.slick-slide img:hover{
  cursor: grab;
}

.slick-list {
  overflow: hidden;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dots li button:before {
  color: black;
}

.slick-dots li.slick-active button:before {
  color: black;
}
